table, th, td {
	border: 1px solid black;
}

#outer-content{
	background-color: black;
	align-content: left;
	height: 5cm;
}

#inner-content{
	background-color: red;
	height: 4cm;
	position: absolute;
	bottom: 10;
	left: 5;
}